body {
    margin: 0;
}

.container{
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: red;
    border: solid black;
}

.sketchpad{
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 900px;
    border: solid black;
    background-color: white;
}

.box{
    display: flex;
    flex-grow: 1;
    /* box-sizing: border-box;
    border: solid blue; */
}

.hovered{
    background-color: darkgrey;
}