body {
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    border: solid black;
}

.sketchpad{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    border: solid black;
    background-color: white;
}

.box{
    display: flex;
    flex-grow: 1;
}

.hovered{
    background-color: darkgrey;
}

.button{
    box-sizing: border-box;
    margin: 1rem;
    padding: 5px 10px;
    font-size: large;
}